:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* /RESET */

/* SECTION STYLE */

/* header */

.header {
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  align-items: center;
  display: flex;
  margin-right: auto;
}

.logo-header {
  display: flex;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  align-items: center;
  margin-right: 76px;
}

.logo-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:not(:first-child) .nav-link::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: var(--ocean);
  transition: 250ms ease-in-out;
}

.nav-item:not(:first-child) .nav-link:hover::after,
.nav-item:not(:first-child) .nav-link:focus::after {
  opacity: 1;
}

.nav-item:first-child .nav-link {
  color: var(--ocean);
}

.nav-item:first-child .nav-link::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.header-address {
  display: flex;
  justify-content: flex-end;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

.contact {
  display: flex;
  align-items: center;
}

.contact-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero styles */

.hero {
  background: var(--navy-blue);
  display: flex;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.hero-title {
  max-width: 496px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.main-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-family: var(--font-family);
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-right: 480px;
  margin-left: 480px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* qualities styles */

.qualities-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.qualities-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qualities-list {
  display: flex;
  gap: 24px;
}

.quality-item {
  width: calc((100% - 3 * 24px) / 4);
}

.quality-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.quality-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.quality-item .container-icon {
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* team styles */

.team-section {
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: var(--navy-blue);
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  width: calc((100% - 3 * 24px) / 4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-text {
  padding: 32px 0;
}

.team-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-role {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.team-link {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link .social-media {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media:hover,
.social-media:focus {
  background-color: #404bbf;
}

.team-media {
  fill: #f4f4fd;
}

/* portfolio styles */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: var(--navy-blue);
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.subtitle-text {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.img {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-family: var(--font-family);
  padding-top: 40px;
  background-color: var(--iris);
  color: var(--cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--cloud);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* footer styles */

.footer {
  background: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.container .footer-left {
  margin-right: 120px;
  align-items: baseline;
}

.footer .container {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-between;
}

.logo-footer {
  display: inline-flex;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-text {
  font-family: var(--second-family);
  max-width: 264px;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-text {
  max-width: 264px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.container-social-icon {
  display: flex;
  flex-direction: column;
}

.social-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-social-icon .social-media-text {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
  align-items: baseline;
}

.social_media {
  fill: #f4f4fd;
}

.container-social-icon .media-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.media-icons .social-link {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons .social-link:hover,
.media-icons .social-link:focus {
  background-color: var(--green);
}

.form {
  display: flex;
  flex-direction: column;
}

.e-mail-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
  margin-left: 80px;
}

.e-mail-input .form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.submit-btn {
  display: flex;
}

.submit-btn .form-input {
  font-family: var(--font-family);
  color: var(--white);
  width: 264px;
  height: 40px;
  margin-right: 24px;
  padding-left: 16px;
  background-color: var(--navy-blue);
  gap: 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  outline: none;
}

.submit-btn .form-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  text-align: center;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  gap: 8px;
  padding-right: 24px;
  padding-left: 24px;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--ocean);
}

/* -------- MODAL SECTION -------- */

.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.modal-section.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  max-width: 408px;
  min-height: 584px;
  z-index: 999;
  background-color: var(--white);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 16px 24px rgba(0, 0, 0, 0.1),
    0px 24px 32px rgba(0, 0, 0, 0.1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: rgba(0, 0, 0, 0.1);
  height: 24px;
  width: 24px;
  border-radius: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  fill: var(--white);
  border: none;
}
.titel-modal {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
  margin-top: 48px;
}

.modal-input-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.input-label {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: none;
  transition: border-color 250ms linear;
  width: 100%;
  padding: 10px 10px 10px 36px;

  font-size: 16px;
  outline: none;
}
.input-label:focus,
.input-label:hover {
  border-color: var(--iris);
}

.input-label-textarea {
  font-weight: 400;
  font-size: 12px;
  border: 1px solid vvar(--navy-blue-modal);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  /* resize: none; */
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms linear;
  margin-bottom: 8px;
}

.input-label-textarea:focus,
.input-label-textarea:hover {
  border-color: var(--iris);
}

.privacy-polici {
  color: var(--iris);
}

.order-from-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
}

.order-form-policy {
  margin-bottom: 24px;
}

.order-form-policy-checkbox:checked
  + .order-form-check-box-label
  .order-from-own-checkbox {
  background-color: var(--iris);
}
.order-form-check-box-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-input {
  position: relative;
  display: flex;
  align-items: center;
}

.user-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--navy-blue);
}

.input-label:focus + .user-icon {
  fill: var(--iris);
}

.send-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-family: var(--font-family);
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-right: auto;
  margin-left: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
